---
import Layout from "../layouts/Layout.astro";
---

<Layout title="KELUAR | Página no encontrada">
    <section class="h-[95dvh] grid place-content-center">
        <h1 class="text-center">Página no encontrada</h1>
    </section>
</Layout>