---
---
<div>
    <aside class="carrousel snaps-inline mt-24 relative gap-0 min-[1126px]:gap-6" id="slider">
        <slot>
            <!-- renderizado de los items del carrousel -->
        </slot>
    </aside>

    <!-- botones para deslizarse entre items -->
    <div class="mt-16 flex gap-5" id="navigate-buttons">
        <button class="w-10 h-10 bg-keluar text-white" onclick="slideLeft()">L</button>
        <button class="w-10 h-10 bg-keluar text-white" onclick="slideRight()"">R</button>
    </div>
</div>
