---
interface Props {
    image: string;
    url: string;
}

const { image, url, data } = Astro.props;
---

<article class="bg-gray-400 transition-all duration-300 col-span-1 min-[1126px]:col-span-3">
    <picture class="relative">
        <img src=`${image}` alt="Icon" class="min-h-[26rem]" loading="lazy"/>
        <a
            href={url}
            class="w-[2.25rem] h-[2.25rem] absolute right-0 bottom-0 text-5xl text-center font-keluar_extralight bg-white leading-[2.25rem] min-[1126px]:w-[3.5rem] min-[1126px]:h-[3.5rem] min-[1126px]:leading-[3.5rem]"
        >
            -
        </a>
    </picture>
    <h3 class="sm-title py-3 pt-6">
        {data.title}
    </h3>
    <p class="md-title uppercase font-keluar_medium">
        {data.location}
    </p>
</article>
