---
interface Props {
    logo: string;
    }

    const { logo } = Astro.props
---

    <header class="relative container z-20">
        <nav class="h-20 flex flex-wrap justify-between uppercase text-sm">
            <picture class="grid place-content-center">
                <img src={logo} alt="Keluar Isotipo" class="h-8" />
            </picture>
            <ul class="nav w-full absolute top-20 flex flex-wrap flex-col items-start gap-5 opacity-0 transition-all z-20 min-[900px]:flex-row min-[900px]:items-center min-[900px]:w-auto min-[900px]:relative min-[900px]:top-0 min-[900px]:opacity-100 ">
                <li class="hover hover:text-keluar/90"><a href="#">Institucional</a></li>
                <li class="hover hover:text-keluar/90"><a href="#">Steelframe</a></li>
                <li class="hover hover:text-keluar/90"><a href="#">Proyectos</a></li>
                <li class="hover hover:text-keluar/90"><a href="#">Etapas</a></li>
                <li class="hover hover:text-keluar/90"><a href="#">Sistemas</a></li>
                <li class="hover hover:text-keluar/90"><a href="#">Contacto</a></li>
            </ul>
            <span class="min-[900px]:hidden grid place-content-center">
                <button class="hamburger noSelect" name="menu" onclick="toggleHamb()">
                    <!-- hamburger icon -->
                    X
                </button>
            </span>
        </nav>
    </header>
    <div class="bg w-full h-60 bg-white absolute z-10 -translate-y-full min-[900px]:-translate-y-full transition-all ">
        <!-- white background -->
    </div>


