---
import MainTitle from "./MainTitle.astro";
---
<section class="min-h-[95dvh] flex flex-col justify-center bg-keluar">
    <div class="container">
        <div>
            <MainTitle title="Tu hogar\nllave en mano" customStyles="xl-title text-white whitespace-pre-line"/>
        </div>
        <p class="sm-content uppercase text-white leading-[1.5] whitespace-pre-line">
            Realizamos el dise침o, gesti칩n, 
            direcci칩n y construcci칩n.
        </p>
    </div>
</section>