---
import SecondaryTitle from "./SecondaryTitle.astro";
---

<section class="mt-16 py-40 bg-keluar bg-100 bg-origin-content">
    <div class="container grid place-content-center grid-cols-1 text-white lg:grid-cols-2 lg:place-items-end">
        <aside>
            <SecondaryTitle title="Etapas de trabajo" customStyles="pb-10 sm-title" />
            <p class="xl-content" >
                Establecimos 4 etapas de trabajo como parte de nuestro proceso para el desarrollo de tu casa.
            </p>
        </aside>
        <aside class="mt-10 lg:mt-0">
            <ol class="titles grid divide-y divide-white/30 md-title font-keluar_light uppercase">
                <li class="title py-7 md-title"><span class="sm-content"></span> Acuerdo comercial 
                    <p class="content absolute sm-content text-white/75">
                        Cuéntanos cuál es tu idea, nosotros te asesoramos y buscamos juntos la mejor forma para llegar a un buen 
                        negocio, en la cual ambas partes 
                        ganan.
                        Todo queda plasmado en un contrato 
                        firmado y certificado dejando la 
                        tranquilidad a ambas partes de lo 
                        acordado.
                    </p>
                </li>
                <li class="title py-7 md-title"><span class="sm-content"></span> Desarrollo de proyecto
                    <p class="content absolute sm-content text-white/75">
                        Con tus ideas y sueños, sumado a la 
                        experiencia de nuestros arquitectos, 
                        se desarrolla el hogar que tanto 
                        pensaste.Tenemos pasión en lo que 
                        hacemos, y eso lo verás plasmado en 
                        la habitabilidad de tu casa para 
                        que la disfrutes y no quieras 
                        salir nunca de ella.
                    </p>
                </li>
                <li class="title py-7 md-title"><span class="sm-content"></span> Fundación y estructura
                    <p class="content absolute sm-content text-white/75">
                        Para nosotros la cimentación de 
                        una casa es lo principal, la 
                        base es la tranquilidad de que 
                        podemos garantizar la vida eterna 
                        de tu casa.

                        La construcción de la estructura 
                        es innegociable, el estándar de 
                        KELUAR parte de una modulación de 
                        montantes cada 40 cm, lo que 
                        sobredimensiona los cálculos 
                        estructurales de tu vivienda.
                    </p> 
                </li>
                <li class="title py-7 md-title"><span class="sm-content"></span> Terminación y detalles
                    <p class="content absolute sm-content text-white/75">
                        Las terminaciones y detalles son 
                        la parte visible de tu hogar y 
                        con lo que convives día a día. 

                        Sabemos de la importancia que 
                        tiene, es también nuestra carta de 
                        presentación. La clave para lograr 
                        la excelencia es el trabajo a 
                        conciencia, las herramientas 
                        acordes y los mejores 
                        profesionales abocados a los 
                        detalles finales.
                    </p>
                </li>
            </ol>
        </aside>
    </div>
</section>