---
import SecondaryTitle from "./SecondaryTitle.astro";
---

<section class="mt-16 py-40 bg-keluar bg-100 bg-origin-content">
    <div class="container grid place-content-center grid-cols-1  text-white lg:grid-cols-2 lg:place-items-center">
        <aside>
            <SecondaryTitle title="Etapas de trabajo" customStyles="pb-10 sm-title" />
            <p class="xl-content" >
                Establecimos 4 etapas de trabajo como parte de nuestro proceso para el desarrollo de tu casa.
            </p>
        </aside>
        <aside class="mt-10 lg:mt-0">
            <ol class="mx-10 grid divide-y divide-white/30 md-title font-keluar_light uppercase lg:mx-0">
                <li class="py-7 md-title"><span class="sm-content">01 </span> Acuerdo comercial</li>
                <li class="py-7 md-title"><span class="sm-content">02 </span> Desarrollo de proyecto</li>
                <li class="py-7 md-title"><span class="sm-content">03 </span> Fundación y estructura</li>
                <li class="py-7 md-title"><span class="sm-content">04 </span> Terminación y detalles</li>
            </ol>
        </aside>
    </div>
</section>