---
import SecondaryTitle from "./SecondaryTitle.astro";
---
<section class="container h-24 flex items-center">
    <SecondaryTitle title="Confían en nosotros" customStyles=""/>
    <marquee behavior="" direction="">
        <div class="flex gap-10 md:gap-40">
            <img src="" alt="1">
            <img src="" alt="2">
            <img src="" alt="3">
            <img src="" alt="4">
        </div>
    </marquee>
</section>