---
import SecondaryTitle from "./SecondaryTitle.astro";
---
<section class="container h-24 flex items-center">
    <SecondaryTitle title="Confían en nosotros" customStyles=""/>
    <marquee behavior="" direction="">
        <div class="flex gap-10 md:gap-40">
            <img src="../../images/partners/partner1-87x54.png" alt="1" class="bg-slate-400">
            <img src="../../images/partners/partner2-112x45.png" alt="2" class="bg-slate-400">
            <img src="../../images/partners/partner3-146x28.png" alt="3" class="bg-slate-400">
            <img src="../../images/partners/partner4-84x47.png" alt="4" class="bg-slate-400">
            <img src="../../images/partners/partner5-131x29.png" alt="5" class="bg-slate-400">
            <img src="../../images/partners/partner6-79x54.png" alt="6" class="bg-slate-400">
            <img src="../../images/partners/partner7-96x42.png" alt="7" class="bg-slate-400">
        </div>
    </marquee>
</section>